@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top__container_img {
  max-width: 100px;
}

.top__container {
  text-align: center;
  background-color: #083323;
}

.image-box {
  position: relative;
  /* width: 380px; */
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.image-thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(60%);
}

.imgage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
}

.container__1 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding-block: 30px;
  text-align: center;
}

.image-1 {
  max-width: 500px;
  padding: 20px;
  border-radius: 10%;
}

.image-2 {
  max-width: 70%;
}

.text_box-1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
}

.title-1 {
  font-size: 40px;
}

.text-1 {
  padding: 10px;
  font-size: 25px;
}

.container__2 {
  padding-block: 100px;
  text-align: center;
  background-color: #083323;
}

.title-2 {
  font-size: 40px;
  text-align: center;
}

.container__3 {
  padding: 70px;
}

.image-thumbnail2 {
  max-width: 500px;
}

.image-box2 {
  display: block;
  margin: auto;
  text-align: center;
}

.container__4 {
  text-align: center;
  background-color: #e2e9e2;
}

.imgage-text3 {
  font-size: 30px;
}

.imgage-title3 {
  padding: 50px;
  font-size: 40px;
}

.image-3 {
  /* max-width: 700px; */
  padding: 60px;
}

.bottom_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #979797;
}

.bottom_container_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.small_text {
  padding-bottom: 25px;
}